<div
  [ngClass]="{
    'chat-container__right--message': true,
    'chat-container__right--message--me': me
  }"
>
  <div class="chat-container__right--message__container">
    <div class="chat-container__right--message--img" *ngIf="!me">
      <img src="assets/img/user.png" alt="" />
    </div>

    <div class="chat-container__right--message--chat">
      <div class="chat-container__right--message--chat__text">
        {{ message }}
      </div>
      <div class="chat-container__right--message--chat__date">{{ date }}</div>
    </div>
  </div>
</div>
