<div
  [ngClass]="{
    'chat-container__left--messages': true,
    'chat-container__left--messages--active': active
  }"
>
  <div class="chat-container__left--messages__img">
    <img src="assets/img/user.png" alt="" />
  </div>
  <div class="chat-container__left--messages__users">
    <div class="chat-container__left--messages__users--user">Sushila Sipai</div>
    <div class="chat-container__left--messages__users--message">Mesage</div>
  </div>
  <div class="chat-container__left--messages__date">Apr 16</div>
</div>
