<div class="chat">
  <div class="chat-container">
    <div class="chat-container__left">
      <app-component-sidebar>
        <!-- Header -->
        <app-chat-header>
          <div class="chat-container__left--search">
            <app-component-searchbar></app-component-searchbar>
          </div>
        </app-chat-header>

        <!-- Content -->
        <div class="chat-container__left--messages__container">
          <user-component-sidebar active="true"></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
          <user-component-sidebar></user-component-sidebar>
        </div>
      </app-component-sidebar>
    </div>
    <div class="chat-container__right">
      <app-chat-header>
        <div class="chat-container__right--header">
          <div class="chat-container__right--header__user">
            <h3>Sushila Sipai</h3>
          </div>

          <div class="chat-container__right--header__delete">
            <i class="fa fa-trash"></i>
          </div>
        </div>
      </app-chat-header>
      <!-- content -->
      <div class="chat-container__right--messages">
        <message-component></message-component>
        <message-component me="true"></message-component>
        <message-component></message-component>
        <message-component me="true"></message-component>
        <message-component></message-component>
        <message-component me="true"></message-component>
        <message-component></message-component>
        <message-component me="true"></message-component>
      </div>

      <!-- input Box -->
      <div class="chat-container__right--input">
        <input type="text" placeholder="Send Message.." name="search" />
      </div>
    </div>
  </div>
</div>
